.gdpr-alert {
  padding: 0;
  margin: 0;
  display: none;
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.gdpr-alert h4 {
  margin: 0;
  color: inherit;
}

.gdpr-alert p {
  margin-bottom: 0;
}

.gdpr-alert hr {
  border-top-color: #a6e1ec;
}

.gdpr-alert__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
}

.gdpr-alert__title {
  font-weight: bold;
}

.gdpr-alert__title,
.gdpr-alert__message {
  display: inline-block;
  padding: 10px;
}

.gdpr-alert__link {
  font-weight: bold;
  display: inline-block;
  padding: 10px;
  color: #245269;
}

.gdpr-alert__close {
  position: absolute;
  top: 0;
  right: 0;
}
