{#
/**
 * @file
 * GDPR alert
 *
 * Variables:
 * - alert: Alert array
 */
#}
{% if alert and alert.message %}
    <div class="gdpr-alert" role="alert">
        <div class="gdpr-alert__container">
            {% if alert.dismiss and alert.dismiss_title %}
                <button type="button" class="gdpr-alert__close" data-dismiss="alert" aria-hidden="true">{{ alert.dismiss_title }}</button>
            {% endif %}
            {% if alert.title %}
                <div class="gdpr-alert__title">
                    {{ alert.title }}
                </div>
            {% endif %}
            {% if alert.message %}
                <div class="gdpr-alert__message">
                    {{ alert.message }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
